logs
*.log
npm-debug.log*
.DS_Store

coverage
node_modules
build
.env.local
.env.development.local
.env.test.local
.env.production.local
__kube__
__config__/env.json

src/app.jsx
src/meters.js
src/server.js
src/client.js
src/apollo
src/server/handlers/handle-initial-state.js
src/server/handlers/handle-markup.js
src/server/handlers/handle-state-markup.js
package.json
package-lock.json
!_migrations/package-lock.json
!_migrations/package.json
.jest.config.js